{% extends "base.html" %}

{% block content_body %}

<div class="row">
	
	<!-- LEFT -->
	<div class="col-md-3">
		<h3>{{ object.name }}</h3>
	</div>

	<!-- RIGHT -->
	<div class="col-md-9">
		<p><img src="{{ object.image_url }}" width="320px"></p>
		<p>${{ object.price }}</p>
    	<p>{{ object.description }}</p>	

    	<h5>Located in the following shopping lists</h5>
    	<ul class="list-unstyled">
    		{% for sl_item in shopping_lists %}
    			<li>{{ sl_item.shopping_list.title }}</li>
    		{% endfor %}
    	</ul>	
	</div>

</div>

{% endblock content_body %}
